doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.6.4.slim.min.js',
           integrity='sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=',
           crossorigin='anonymous')
    script(src='/javascripts/board.mjs', type='module')
    script(src='/javascripts/index.mjs', type='module')
  body
    block content
